<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
{{!--     <link rel="stylesheet" href="/css/productos.css"> --}}
  <title>Producto</title>

</head>
<body >
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="/products/{{ product._id }}/edit">Editar</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{product.producto}} </h5>
    <p class="card-text">Precio: ${{product.precio_unitario}}</p>
    <a href="/products" class="btn btn-primary">Volver al listado de productos</a>
  </div>
</div>
<form action="/products/{{product._id}}/delete" method="post">
  <input type="hidden" name="_method" value="delete">
<input class="btn btn-primary" type="submit" value="Eliminar">
</form>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/">Volver a la pagina principal</a></li>
  </ul>
</nav>
</body>
</html>


